div.site-alert {
  width: 100%;
  font-weight: bold;
  padding-top:20px;
}

div.site-alert div.text {
  padding: 10px 10px 10px 45px;
  margin: 0px;
  font-size: 16px;
}

div.site-alert div.info {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.low {
  background: #fffa61;
  border: 1px solid #faebcc;
  color: #262626;
/*  background-image: url('icon-alert.png'); */
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.high {
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
/*  background-image: url('icon-alert.png'); */
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div#edit-alerts-start.date-padding {
  padding: 0px;
}

div#edit-alerts-expire.date-padding {
  padding: 0px;
}
