.panels-flexible-1 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-1 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-1 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-1 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-1-main {
  float: left;
  width: 100.0000%;
}

.panels-flexible-1-inside {
  padding-right: 0px;
}

.panels-flexible-1 {
  width: auto;
}

.panels-flexible-region-1-center {
  float: left;
  width: 33.3016%;
}

.panels-flexible-region-1-center_ {
  float: left;
  width: 33.2950%;
}

.panels-flexible-region-1-right {
  float: left;
  width: 33.4034%;
}

.panels-flexible-row-1-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-center__ {
  float: left;
  width: 100.0000%;
}

.panels-flexible-row-1-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-left {
  float: left;
  width: 66.5960%;
}

.panels-flexible-region-1-right_ {
  float: left;
  width: 33.4040%;
}

.panels-flexible-row-1-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-center___ {
  float: left;
  width: 100.0000%;
}

.panels-flexible-row-1-3-inside {
  padding-right: 0px;
}

