.panels-flexible-15 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-15 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-15 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-15 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-15 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-15 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-15 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-15 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-15 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-15 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-15-main {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-15-1 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-15-inside {
  padding-right: 0px;
}

.panels-flexible-15 {
  width: auto;
}

.panels-flexible-region-15-product_info {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-15-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-15-product_sidebar_left {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-15-2-inside {
  padding-right: 0px;
}

