.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango {
    text-align: left;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
    height: 412px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;    
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    height: 412px;
	margin-top:30px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
    width: auto;
    border: none;
    overflow: visible;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    top: -55px;
    right: 0;
    left: auto;
    width: 25px;
    height: 4px;
    cursor: pointer;
    background:#434343;
}





.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -55px;
    right: 27px;
    left: auto;
    width: 25px;
    height: 4px;
    cursor: pointer;
    background:#434343;
}



.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background:#2B96CC;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
}





/************************* Horizontal **********************/

.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding:15px 0 0;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    width: 555px;
	margin-right:50px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -50px;
    right: 0;
    width: 25px;
    height: 4px;
    cursor: pointer;
    background:#434343;
}


.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -50px;
    right: 27px;
    width: 25px;
    height: 4px;
    cursor: pointer;
    background:#434343;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}


.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

