a {
  color: #e54242;
}
.isotope-element a:hover{
    color: #e54242 !important;
}
a:hover,
a:focus {
  color: #e54242;
}
.caption a:hover { color: #e54242 !important;}
.bg-default {
    background-color: #e54242;
}
.btn-primary {
  background-color: #e54242 !important;
  border-color: #e54242 !important;
}
.blog-full-width-date, .btn-default {
    background-color: #e54242 !important;
	/*box shadow should be dark*/
    box-shadow: 0 3px 0 #CB2C2C !important;
    -moz-box-shadow:0 3px 0 #CB2C2C !important;
    -webkit-box-shadow:0 3px 0 #CB2C2C !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #CB2C2C;
}
h1.bordered,
h2.bordered,
h3.bordered,
h4.bordered,
h5.bordered,
h6.bordered,
.h1.bordered,
.h2.bordered,
.h3.bordered,
.h4.bordered,
.h5.bordered,
.h6.bordered {
	color: #e54242;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light {
	color:#e54242;
}

.top-sec-detail .social2 li a:hover{ border:2px solid #e54242;}
.top-sec-detail .social2 li a:hover i{ color:#e54242}

.social2 li a:hover{background-color: #e54242;}

.navbar-default .navbar-collapse.medical-nav2 li ul li a:hover{
  background: #e54242 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color:#e54242;
}
.navbar-nav > li:hover a{
	background:#e54242; color:#fff !important;
}
.dropdown-menu {
	border-top: 6px solid #e54242;
}
.navbar-nav > li:hover ul li a:hover{ 
	color:#e54242 !important;
}
.navbar-nav li.mega-menu-item .mega-menu{ border-top: 6px solid #e54242;}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #e54242;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e54242;
}
.page-header{
  color: #e54242;
}
.home-box a:hover{color:#e54242;}
.appointment-sec h1{ 
	color:#e54242
}
.ui-widget-header {
	background: #e54242;
	/*border colour should be dark*/
	border: 1px solid #e54242;
}

.blog-date {background: #e54242; }
.blog-thumbnail img{border-bottom:4px solid #e54242;}
.blog-item .blog-title a:hover{ color:#e54242;}
.owl-theme .owl-controls .owl-page.active span {
  background-color: #e54242;
}
.panel-title.active span{ background:#e54242}
.panel-title.active a{ color:#e54242 !important}
.testimonials h1{ color:#e54242}
.footer-nav li a:hover {color:#e54242 !important;}
footer h4{ color:#e54242;}
.footer-widget h4{ color:#e54242}
footer h4 span{ border-bottom:1px solid #e54242;}
footer.light .tweet i{color:#e54242;}
footer.light .contact-widget p a:hover{ color:#e54242;}
footer.dark .contact-widget p a:hover{ color:#e54242;}

/*home 2*/
.service-box:hover{ background:#e54242;}
.service-box:hover .icon{ background:#e54242;box-shadow:0px 0px 0px 1px #e54242;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    background:#e54242 !important;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background:#e54242;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background:#e54242 !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
   background:#e54242;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   background:#e54242;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background:#e54242;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background:#e54242;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background:#e54242 !important;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus{background:#e54242;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{background:#e54242;}
.blog2-content h4 a:hover{ color:#e54242;}
.slider-mini a:hover, .slider-mini .btn-bordered:hover{ color:#e54242; border-color:#e54242;}
.testimonials2-patient-detail span{ color:#e54242}
.creative-sec h1{ color:#e54242}
.creative-sec-thumb .overlay{background:url(../images/red-overlay.png) repeat;}
.accordian-style2 .panel-heading i{ color:#e54242;}



/*home4*/
caption a.btn-bordered:hover{ color:#e54242}
.slider-revolution-overlay{ background:url(../images/red-overlay.png) repeat;}
/*revolution slider nav*/
.tp-bullets.simplebullets .bullet{background:#80b5d0;}


/*sub page*/
.sub-page-banner .overlay{background:url(../images/red-overlay.png) repeat;}
.team-des-btn.active{ background:#e54242}
.team-member-description .team-member-desc-inner{ background:url(../images/red-overlay.png) repeat; border:1px solid #1b7fb1; 
/*box shadow should be light*/
box-shadow: inset 1px 1px 1px 0px #88c4e2;-moz-box-shadow: inset 1px 1px 1px 0px #88c4e2;-webkit-box-shadow: inset 1px 1px 1px 0px #88c4e2;}
.team-member-description .team-member-desc-inner span.pointing-arrow{ background:url(../images/team-member-desc-arrow.png) no-repeat;}
i.feature-icon{  background:#e54242;}
i.feature-icon{text-shadow:0px 5px 0px #cd2727;}
.carousel.default .owl-theme .owl-controls .owl-page.active span{ background:#e54242;}
.year {color: #e54242;}
.carousel-indicators.dark-indicators .active{ background:#e54242 !important}
.medicom-feature-list li i{border:1px solid #cb2c2c; 
/*border should be dark*/
background:#e54242;}
.procedures h3{ margin:0; background:#e54242; }
.testimonials3-patient-detail span{color:#e54242;}


/*quote icons should be light*/
.testimonials3 .fa-quote-left, .testimonials3 .fa-quote-right{ color:#d9e6ef;}
.doctors-detail h4{color:#e54242}
.investigations h1{ color:#e54242}
.pricing-table2.highlight .table-heading, .pricing-table2.highlight .table-heading .price{ background:#e54242;}
.pricing-table .table-heading{ background:#e54242;}
.portfolio .entry:hover p{ border-bottom:6px solid #e54242}
.portfolio .entry:hover p a:hover{ color:#e54242}
.tags li a:hover{ color:#e54242; border:1px solid #e54242;}
.popular-post h4:hover, .popular-post h4 a:hover{ color:#e54242}
.archives li a:hover, .archives li a:hover i{ color:#e54242}
.get-in-touch-widget li a:hover, .we-are-social li a:hover{ color:#e54242;}








.sidebar-nav .panel-body a:hover, .sidebar-nav .panel-body a.active{color:#e54242}










/*tri sec*/
.tri-sec:hover{ background:#e54242;}
.tri-sec:hover i{ color:#e54242;}






.price-rating .price{ 
	color:#e54242
}
.product .ad-to-cart:hover{
	color:#e54242;
}
.popular-post p strong, .best-seller p strong{
	color:#e54242
}
.popular-post h4 a:hover, .best-seller h4 a:hover{
	color:#e54242
}

.shop-banner .slider-text h1 span{ color:#e54242}
.product-single-content h4{
	color:#e54242
}
.cart-total-amount .price{ 
	color:#e54242;
}
.after-booking-sec h1{ color:#e54242}
.owl-controls .owl-buttons .owl-prev:hover, .owl-controls .owl-buttons .owl-next:hover{ background:#e54242;}
.view-members .links a i{ background:#e54242;}
.view-members .links a:hover i{ background:#ea5f5f;}
.solid-row{ background:#e54242;}
