
nav.primary {
	width: 100%;
	display: table;
	float: none;
	position: relative;
	margin: 60px 0 55px;
	text-align:center;
	
}
nav.primary ul{padding:0; display:inline-block; border:1px solid #f2f2f2; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; overflow:hidden;margin:0;}
nav.primary ul li  {
	display:inline-block;
	list-style:none;
	margin:0 -2px;
	width:auto;
}

nav.primary ul li a {
	border-right: 1px solid #f2f2f2;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 14px;
	color:#646464;
    outline: medium none;
    padding: 17px 25px 16px;
    text-decoration: none;
}
nav.primary ul li a.last{ border-right:0;}
nav.primary ul li.select-category{ font-size: 16px; font-weight: 700;  padding-right: 10px;  padding-top: 7px;}

nav.primary li a:hover, nav.primary li a.selected{
    background:#fafafa;
}
.main {
	padding:0;
	margin:0;
	display:block;
}

.entry {
	position:relative;
	float:left;
	margin:1px 1px 0px 0 !important;
}
.gallery-thumb{ position:relative;}
.entry .overlay{ position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/overlay.png) repeat; display:none;}
.entry:hover .overlay{ display:block;}
.detail{ padding:20px 5px;}


.portfolio { margin:38px 0; }

.magnifier.port-detail {
	position:absolute;
	top:-26px;height:44px;
	width:44px;
	left:244px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.magnifier.port-detail{
	margin:150px 0 0 0 !important;
}
.entry:hover  .magnifier {
	opacity:1;
	
}
.video-hover {
	position:absolute;
	top:1100px;height:44px;
	width:44px;
	left:244px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

/*.entry:hover .video-hover,
.entry:hover .magnifier { opacity:1; }*/

.entry a{ display:block;} 
.entry a:hover .magnifier { opacity:1; }
.entry a:hover .video-hover { opacity:1; }



img {
	max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}




.portfolio .entry {width: 363px !important;margin:0 17px 36px 0 !important;}
.portfolio .entry:nth-child(3n+0){ margin-right:0 !important;}
.portfolio-thumbnail{ position:relative;}
.portfolio .entry a.link-preety, .portfolio .entry a.link-more{ top: 50%;position: absolute;display:none;}
.portfolio .entry a.link-preety{left:50%; background:url(../images/plus-icon.png);width:52px; height:53px; margin:-26.5px 0 0 -26px;}
.portfolio .entry a.link-more{ left:50%; background:url(../images/plus-icon.png); width:52px; height:53px; margin:-26.5px 0 0 -26px;}
.entry:hover a.link-preety, .entry:hover a.link-more{ display:block;}
.portfolio .entry p{ padding:26px 20px 22px; background:#fcfcfc; border-bottom:6px solid #474747; text-align:center; font-size:16px; text-transform:uppercase; line-height:22px}
.portfolio .entry p a{ display:block;font-family: 'SourceSansProBold'; color:#484848; font-size:20px;}

.portfolio.two-column .entry {width: 48.5% !important;}
.portfolio.four-column .entry {width: 264px !important;}



@media (max-width:991px) {
	.portfolio .entry {
    	width: auto !important;
	}
	.portfolio .entry {
	    width: 300px !important;
	}
	.portfolio.two-column .entry{
		width:300px !important
	}
}
@media(min-width:768px) and (max-width:991px) {
	nav.primary ul li a{ font-size:17px;}
	.portfolio .entry {
	    width: 330px !important;
	}
	.portfolio.two-column .entry{
		width:47% !important
	}
}

@media(min-width:992px) and (max-width:1169px) {
	.portfolio.two-column .entry{
		width:48% !important
	}
	.portfolio .entry {
		margin: 0 17px 36px 0 !important;
		width: 296px !important;
	}
	.portfolio.four-column .entry {
		width: 218px !important;
	}
	.portfolio.four-column .entry p{
		min-height: 120px;
	}
	 
}
@media (max-width:767px) {
	nav.primary ul li{ width:100%; margin:0;}
	nav.primary ul li a{ font-size:17px;}
	}
