/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

 /* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.feedback {
background-color: #0C5896 !important;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    /* border-color: #46b8da; */
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'SourceSansProBold';
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	}
	
#mybutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
 .panel-flexible .panel-separator {
 	margin: 0;
 }
body.fullwidth .main-container.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
body.fullwidth .main-container.container > div.row {
  margin: 0;
  padding: 0;
}
body.fullwidth .main-container.container > div.row > section.col-md-12, body.fullwidth .main-container.container > div.row > section.col-sm-12 {
  margin: 0;
  padding: 0;
}
.panels-flexible-row.container {
	margin-left: auto;
	margin-right: auto;
}
.region-content-top, .region-footer-bottom, .simplenews-subscribe .form-control, .simplenews-subscribe label,
.region-content-bottom, section#block-system-main, .block-full-width{
 	float: left;
 	width: 100%;
}
.panels-flexible-row.container {
	padding-left: 15px;
	padding-right: 15px;
}
.form-group {
    margin-bottom: 35px !important;
}
.panels-flexible-region.col-md-8, 
.panels-flexible-region.col-md-7, 
.panels-flexible-region.col-md-6, 
.panels-flexible-region.col-md-5, 
.panels-flexible-region.col-md-4, 
.panels-flexible-region.col-md-3, 
.panels-flexible-region.col-md-2, 
.panels-flexible-region.col-md-1, 
.panels-flexible-region.col-md-9, 
.panels-flexible-region.col-md-10, 
.panels-flexible-region.col-md-11, 
.panels-flexible-region.col-md-12
/*.panels-flexible-column.col-md-8, 
.panels-flexible-column.col-md-7, 
.panels-flexible-column.col-md-6, 
.panels-flexible-column.col-md-5, 
.panels-flexible-column.col-md-4, 
.panels-flexible-column.col-md-3, 
.panels-flexible-column.col-md-2, 
.panels-flexible-column.col-md-1, 
.panels-flexible-column.col-md-9, 
.panels-flexible-column.col-md-10, 
.panels-flexible-column.col-md-11, 
.panels-flexible-column.col-md-12*/{
	padding-left: 15px;
	padding-right: 15px;
}
.panels-flexible-region.col-md-8 > div, 
.panels-flexible-region.col-md-7 > div, 
.panels-flexible-region.col-md-6 > div, 
.panels-flexible-region.col-md-5 > div, 
.panels-flexible-region.col-md-4 > div, 
.panels-flexible-region.col-md-3 > div, 
.panels-flexible-region.col-md-2 > div, 
.panels-flexible-region.col-md-1 > div, 
.panels-flexible-region.col-md-9 > div, 
.panels-flexible-region.col-md-10 > div, 
.panels-flexible-region.col-md-11 > div, 
.panels-flexible-region.col-md-12 > div,
.panels-flexible-column.col-md-8 > div, 
.panels-flexible-column.col-md-7 > div, 
.panels-flexible-column.col-md-6 > div, 
.panels-flexible-column.col-md-5 > div, 
.panels-flexible-column.col-md-4 > div, 
.panels-flexible-column.col-md-3 > div, 
.panels-flexible-column.col-md-2 > div, 
.panels-flexible-column.col-md-1 > div, 
.panels-flexible-column.col-md-9 > div, 
.panels-flexible-column.col-md-10 > div, 
.panels-flexible-column.col-md-11 > div, 
.panels-flexible-column.col-md-12 > div{
	padding: 0;
}
.owl-controls {
	position: absolute;
	right: 14px;
	top: -55px;
	line-height: 0;
}
.owl-controls .owl-buttons .owl-prev {
	width: 25px;
	height: 4px;
	background: #434343;
	position: absolute;
	right: 28px;
}
.owl-controls .owl-buttons .owl-next {
	width: 25px;
	height: 4px;
	background: #434343;
}
.owl-theme .owl-controls, .owl-theme .owl-controls .owl-buttons div {
	margin:0;
	padding:0;
	border-radius: 0;
	background: #434343;
	opacity: 1;
	font-size: 0;
}
.owl-carousel .owl-item {
	float: left;
	padding: 0 30px 0 0;	
	font-size: 14px;
	text-align: left;
	cursor: move;
}
.owl-carousel .owl-item  img {	
	display: block;
	width: 100%;
	height: auto;
}
.owl-carousel .owl-item span.detail{
	padding: 0;
}
.view-members .owl-carousel .owl-item  img {
	border-radius: 4px;
}
.view-members .owl-carousel .owl-item .views-field{
	float: left;
	width: 100%;	
}
.view-members .owl-carousel .owl-item .views-field-field-individual-image {
	margin-bottom: 20px;	
}
.view-members .views-field-title{
	margin-top: 10px;
}
.view-members .views-field-title a{
	font-size: 22px;
	line-height: 16px;
	font-weight: 500px;
	text-transform: uppercase;
	font-family: 'SourceSansProSemibold';
}
.view-members .views-field-field-position{
	font-size: 12px;
	color: #8f8f8f;
	font-family: 'SourceSansProLight';
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 10px;
}
.view-members .views-field-body p{
	margin-bottom: 10px;
}
.view-members .views-field-view-node{
	font-style: italic;
}
.view-doctor .owl-carousel .owl-item, .testimonials .owl-carousel .owl-item {
	text-align: center;
}
.view-doctor .owl-carousel .owl-item img, .testimonials .owl-carousel .owl-item img, 
.testimonials2 .owl-carousel .owl-item img {
	padding: 4px;
	background-color: #ffffff;
	border:1px solid #dddddd;
	display: initial;
	max-width: 100%;
	width: inherit;
	height: auto;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}
.view-doctor .views-field-title{
	font-size: 22px;
	color: #4e4e4e;
	line-height: 17px;
	padding-top: 5px;
	font-family: 'SourceSansProSemibold';
	margin-top: 10px;	
}
.view-doctor .views-field-field-doctor-type {
	font-size: 13px;
	color: #656565;
	margin-bottom: 10px;
	font-family: 'SourceSansProSemibold';
}
.view-doctor p {
	color: #767676;
	margin-bottom: 10px;
}
.view-doctor .owl-controls, 
.testimonials .owl-controls, 
.view-blog .owl-controls, 
.node-blog .owl-controls,
.page-shop .owl-controls {
	position: absolute;
	top: auto !important;
	bottom: -20px;
	left: 50%;
	z-index: 15;
	width: auto;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	width: 60% !important;
	background-color: #ffffff;
}
.view-doctor .owl-controls .owl-page span, 
.testimonials .owl-controls .owl-page span, 
.view-blog .owl-controls .owl-page span, 
.node-blog .owl-controls .owl-page span,
.page-shop .owl-controls .owl-page span {
	display: inline-block;
	width: 25px;
	height: 4px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #434343;
	border-radius:0;
	margin: 0 2px;
	opacity: 1;
}
.testimonials .views-field-field-individual-image {
	padding-top: 10px;
}
.testimonials .views-field-title {
	font-size: 18px;
	padding-top: 15px;
	text-transform: uppercase;
}
.testimonials .views-field-field-patient-type {
	font-size: 13px;
	text-transform: uppercase;
}
.ui-datepicker a.ui-corner-all{
 	top: 25%;
}
.ui-datepicker a.ui-corner-all:hover{
 	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span{
 	background-position: left 0;
}
.form-item-gender select {
	width: 48%;
	height: 40px;
	margin: 0 10px 7px 0;
}
.appointment-form .btn-primary, .appointment-form .btn-primary:hover {
	border:1px solid transparent;
}
.appointment-form textarea {
	width: 98%;
	height: 270px;
}
.form-control {
	border:1px solid #ededed;
}
.error {
 	border-color: #b94a48;
}
.latest-news .btn a{
	color: #fff;
}
.block-simplenews {
	margin-bottom: 10px;
}
.page-front2 .md-slide-item img {
	padding: 10px;
	border-radius: 50%;
	background: url(../images/slider2-img-bg.png);
}
.page-front2 .md-slide-item.slide-2 img {
	padding: 0;
	border-radius: 0;
	background-image: none;
}
.region-top-sec p {
	margin: 0;
}
.region-sidebar-second .view-treatment-list {
	padding-top: 40px;
}
.md-bullet {
	background: #80b5d0;
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 6px;
	margin-right: 0px;
	display: inline-block;
	margin: 0 2px 0;
	border-radius: 0;
}
.md-bullet a{
	display: none !important;
}
.md-bullet.md-current, .md-bullet:hover {
	background: #ffffff;
}
.views-row .md-bullet, .field-items .md-bullet {
	width: 24px;
	height: 4px;
}
.view-about-us-2 .col-md-5 {
	padding: 0;
	margin: 0 5px 20px;
}
.slider-mini .views-field-title{
	margin-bottom: 6px;
	color: #4c4c4c;
	font-size: 26px;
	font-family: 'SourceSansProSemibold';
	font-weight: 500px;
	line-height: 1.1;
	text-transform: uppercase;
}
.slider-mini .btn-bordered {
	border-color: #5c5c5c;
}
.page-front3 .region-content-top {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.page-front5 .region-sidebar-first.well {
	padding: 0;
	margin: 0;
	border: none;
}
.testimonials2 .owl-controls {
	position: initial;
	background: none;
}
.testimonials2 .owl-pagination {
	text-align: left;
	margin-left: 144px;
}
.testimonials2 .owl-page span{
	background: #434343;
	cursor: pointer;
	position: relative;
	width: 25px;
	height: 4px;
	margin-right: 0px;
	display: inline-block;
	margin: 0 2px 0;
	border-radius: 0;
}
.page-front2 .region-header .block-md-slider {
	margin-top: 0;
}
.fixed-header.small-header .medicom-header .dropdown{
	padding-bottom: 13px;
}
.fixed-header.small-header .medicom-header .medical-nav .dropdown{
	padding-bottom: 0;
}
.front .fixed-header.small-header .medicom-header .navbar-nav li.mega-menu-item {
	padding-bottom: 0;
}
.admin-menu .fixed-header .medicom-header {
	margin-top: 21px;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	display: none;
}
.navbar-default .navbar-collapse li ul li a {
	background: none !important;
}
.navbar-default .navbar-collapse {
	overflow: hidden;
}
.social2 .links a:hover{
	color: #ffffff;
}
.view-meet-team .view-content{
	margin-left: -15px;
	margin-right: -15px;
}
.not-logged-in .submitted, .node-type-empty-page .page-header, .node-type-empty-page #block-system-main {
	display: none;
}
.not-logged-in .medicom-header .navbar {
	margin-top: 3px;
}
.not-logged-in .medicom-header .navbar.front1 {
	margin-top: 0;
}
.node-type-empty-page .appointment-sec {
	background: url(../images/lines-bg-white.jpg) repeat center top;
}
.margin-bottom-40, .node-type-node-slideshow .field-name-field-md-slider{
	margin-bottom: 40px;
}
.page-user .form-control{
	width: 100%;
}
.page-search .form-control {
	width: 99%;
	margin: 20px 0;
}
.page-header, h2.pane-title {
	background: url(../images/heading-border.png) repeat-x left bottom;
	padding-bottom: 10px;
        padding-top: 60px;
	margin-bottom: 25px;
	margin-top: 0px;
	font-family: 'SourceSansProBold';
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.1;
	font-size: 32px;
	border:0;
}
h2.pane-title.light{
	  font-family: 'SourceSansProLight';
}
.node-type-procedures .region-sidebar-first {
	padding: 0;
	margin-top: 40px;
}
.node-type-procedures .region-sidebar-first .sidebar-nav {
	padding: 25px 0 30px;
}
.mega-menu li a:before {
	width: 0 !important;
	height: 0 !important;
}
li.jcarousel-item {
	position: relative;
}
div.selector span{
	background-image: none;
}
.navbar-default .navbar-collapse.medical-nav {
	font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 991px) {
	.appointment-form textarea {
		width: 97.5%;
	}
	.views-field-field-md-slider {
		width: 100%;
	}
	.panels-flexible-region.col-md-8, 
	.panels-flexible-region.col-md-7, 
	.panels-flexible-region.col-md-6, 
	.panels-flexible-region.col-md-5, 
	.panels-flexible-region.col-md-4, 
	.panels-flexible-region.col-md-3, 
	.panels-flexible-region.col-md-2, 
	.panels-flexible-region.col-md-1, 
	.panels-flexible-region.col-md-9, 
	.panels-flexible-region.col-md-10, 
	.panels-flexible-region.col-md-11, 
	.panels-flexible-region.col-md-12,
	.panels-flexible-column.col-md-8, 
	.panels-flexible-column.col-md-7, 
	.panels-flexible-column.col-md-6, 
	.panels-flexible-column.col-md-5, 
	.panels-flexible-column.col-md-4, 
	.panels-flexible-column.col-md-3, 
	.panels-flexible-column.col-md-2, 
	.panels-flexible-column.col-md-1, 
	.panels-flexible-column.col-md-9, 
	.panels-flexible-column.col-md-10, 
	.panels-flexible-column.col-md-11, 
	.panels-flexible-column.col-md-12 {
		width: 100%;
	}
}
@media (min-width: 992px) {	
	.navbar-nav ul.dropdown-menu li{
		position: relative;
	}
	.navbar-nav ul.dropdown-menu a {
		color: #333333;
	}
	.navbar-nav ul.dropdown-menu a.active{
		background: #ffffff;
		color: #333333;
	}		
	.navbar-default .navbar-collapse.medical-nav li a {
		padding: 38px 20px 26px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-left: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;		
	}
	.navbar-default .navbar-collapse.medical-nav li a:before {
		font-family: "Glyphicons Halflings";
		content: "\e006";
		position: absolute;
		top: 0;
		left: 0;
		margin-top: -16px;
		display: block;
		text-align: center;
		color: #fff;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		padding-top: 20px;
	}
	.medical-nav .navbar-nav > li {
	 margin: 0; 
	}
	div.fixed-header + div {
		margin-top: 172px;
	}
	.admin-menu div.fixed-header + div{
		margin-top: 196px;
	}		
	.navbar-default .navbar-collapse.medical-nav2 li ul li a:hover {
		background: none !important;
	}
}


@media (min-width: 992px) {	
	.navbar-default .navbar-collapse.medical-nav li a {
		padding: 38px 10px 26px;
		font-size: 12px;	
	}
}

@media (min-width: 1200px) {	
	.navbar-default .navbar-collapse.medical-nav li a {
		padding: 38px 20px 26px;
		font-size: 13px;	
	}
}
@media screen and (max-width: 991px) {	
	.fixed-header .medicom-header {
		position: relative!important;
	}
	.fixed-header.small-header .medicom-header {
		top: 0;
	}
	.navbar-header {
		float: none!important;
	}
	.navbar-toggle {
		display: unset!important;
		margin-right: 0;
	}
	.region-header {
		margin-top: 20px;
	}
}
@media (max-width: 767px){	

	.navbar-toggle {
		margin-right: 0;	
	}
	.navbar-default .navbar-collapse li a {
		padding-top: 9px;
		padding-bottom: 7px;
		line-height: 20px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.form-item-gender select {
		width: 47.5%;				
	}	
	.appointment-form textarea {
		width: 96.5%
	}	
	.view-members .links{
		height: 50%;
	}
	.medicom-app-content {
		margin-top: 24%;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777777;
		padding-top: 9px;
		padding-bottom: 7px;
		padding-left: 18px;
		line-height: 20px;
		border: none;
		margin: 5px 0;
	}
	.page-front2 .navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open:hover .dropdown-menu > li > a:hover,
	.navbar-nav .open:hover .dropdown-menu > li > a:focus {
		color: #ffffff !important;
	}
	.page-front2 .navbar-nav .open .dropdown-menu > li > a{
		background: none;
	}
	.slider-revolution .navbar-default .navbar-nav li.dropdown .dropdown-menu a {
		border: none;
	}
	.slider-revolution .navbar-default .navbar-nav li.dropdown .dropdown-menu a:hover {
		border-bottom: 3px solid #fff;
	}
	.view-meet-team.view-display-id-page_1 .owl-item .item-0, .view-meet-team.view-display-id-page_1 .doctors-detail {
		width: 480px;
		margin:0 auto;
	}
}

@media (max-width: 480px) {
	.appointment-form textarea {
		width: 100%
	}
	.form-item-gender select {
		width: 100%;
	}	
	.doctors-img {
		margin-bottom: 0;
	}
	.social2 {
		padding: 10px 0;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: box;
		box-pack: center;
		box-align: center;
		float: left;
		width: 100%;		
		text-align: center;
		margin: 0;
		top:0;
		position: relative;
		border: 1px solid #f5f5f5;
		border-top: 0;
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-webkit-border-radius: 0 0 5px 5px;
	}	
}

#myModal .close {
    color: #0C5896;
    opacity: 1;
    text-align: right;
    margin-right: 5px;
}

@media screen and (max-width: 991px) {
	.latest-news-desktop {
		display: none!important;	
	}
	.sm-max-300 {
		max-width: 300px;
	}
	.medicom-header .collapse.medical-nav {
		display: none!important;
	}
}
@media screen and (min-width: 992px) {
	.latest-news-mobile {
		display: none!important;	
	}
}


/*responsive menu*/
@media screen and (max-width: 990px) {
  .menu-toggle {
    width: 30px;
    height: 30px;
    margin-left: auto;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    cursor: pointer;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: relative;
    z-index: 15; }
    .menu-toggle span {
      height: 3px;
      width: 32px;
      position: relative;
      display: block;
      background: #ffffff;
      transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .menu-toggle span::after, .menu-toggle span:before {
        content: "";
        background: #ffffff;
        height: 3px;
        width: 30px;
        position: absolute;
        left: 0;
        transform-origin: center;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
      .menu-toggle span::after {
        bottom: -8px;
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -ms-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .menu-toggle span:before {
        top: -8px;
        -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -ms-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

  .menu-open .menu-toggle span {
    background: transparent;
    transition-delay: .2s; }
    .menu-open .menu-toggle span::after {
      bottom: 0;
      background-color: #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -ms-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .menu-open .menu-toggle span:before {
      background-color: #ffffff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      top: 0; } }
#responsive_menu.mean-container *, #responsive_menu.mean-container *::after, #responsive_menu.mean-container *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#responsive_menu.mean-container a.meanmenu-reveal {
  position: absolute;
  width: 44px;
  height: 34px;
  padding: 5px 10px;
  position: absolute;
  top: 32px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px; }
  #responsive_menu.mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 1px;
    margin: 5px 0; }
#responsive_menu.mean-container .mean-bar {
  padding: 0;
  min-height: 0;
  background-color: transparent;
  position: static !important; }
  #responsive_menu.mean-container .mean-bar .mean-nav {
    width: 100%;
    margin: 0;
    background-color: transparent; }
    #responsive_menu.mean-container .mean-bar .mean-nav > ul {
      width: 100%;
      padding-bottom: 20px; }
      #responsive_menu.mean-container .mean-bar .mean-nav > ul li {
        position: relative; }
      #responsive_menu.mean-container .mean-bar .mean-nav > ul > li {
        width: 100%;
        display: flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        float: none; }
        #responsive_menu.mean-container .mean-bar .mean-nav > ul > li > a {
          line-height: 1;
          background-color: transparent;
          letter-spacing: 1px;
          text-transform: unset;
          color: #ffffff;
          width: 100%;
          border: none !important;
          font-size: 16px;
          text-transform: uppercase;
          padding: 12px 40px 12px 0; }
          #responsive_menu.mean-container .mean-bar .mean-nav > ul > li > a.is-active {
            color: #ffffff; }
        #responsive_menu.mean-container .mean-bar .mean-nav > ul > li a.mean-expand {
          position: absolute;
          width: auto;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          height: 40px; }
        #responsive_menu.mean-container .mean-bar .mean-nav > ul > li > ul {
          width: 100%; }
          #responsive_menu.mean-container .mean-bar .mean-nav > ul > li > ul li a {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: transparent; }
    #responsive_menu.mean-container .mean-bar .mean-nav ul li a {
      border: none;
      color: #ffffff;
      font-weight: normal;
      width: 100%;
      border: none !important; }


/*# sourceMappingURL=_mixins.css.map */


/* responsive menu end */


/*form-styling*/
form.webform-client-form .webform-component-radios div.radio input {
  opacity: 1; }
form.webform-client-form .webform-component-radios .form-radios {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center; }
form.webform-client-form .webform-component-radios .form-type-radio {
  display: inline-block;
  width: auto;
  margin: 0 15px 0 0; }
  form.webform-client-form .webform-component-radios .form-type-radio .control-label {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: auto; }
form.webform-client-form .form-item.form-type-date, form.webform-client-form .form-item.form-type-webform-time {
  width: 100%;
  margin-bottom: 20 !important; }
  form.webform-client-form .form-item.form-type-date > .control-label, form.webform-client-form .form-item.form-type-webform-time > .control-label {
    width: 100%;
    padding-bottom: 6px; }
  form.webform-client-form .form-item.form-type-date div.radio input, form.webform-client-form .form-item.form-type-webform-time div.radio input {
    opacity: 1; }
  form.webform-client-form .form-item.form-type-date .form-radios, form.webform-client-form .form-item.form-type-webform-time .form-radios {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  form.webform-client-form .form-item.form-type-date .form-type-radio, form.webform-client-form .form-item.form-type-webform-time .form-type-radio {
    display: inline-block;
    width: auto;
    margin: 0 15px 0 0; }
    form.webform-client-form .form-item.form-type-date .form-type-radio .control-label, form.webform-client-form .form-item.form-type-webform-time .form-type-radio .control-label {
      display: flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: auto; }
  form.webform-client-form .form-item.form-type-date .webform-container-inline, form.webform-client-form .form-item.form-type-webform-time .webform-container-inline {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    font-size: 0;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    form.webform-client-form .form-item.form-type-date .webform-container-inline .form-type-select, form.webform-client-form .form-item.form-type-webform-time .webform-container-inline .form-type-select {
      width: calc(33.3333% - 10px);
      padding-right: 10px;
      font-size: 14px;
      margin-bottom: 0px !important; }
    form.webform-client-form .form-item.form-type-date .webform-container-inline .webform-calendar.hasDatepicker, form.webform-client-form .form-item.form-type-webform-time .webform-container-inline .webform-calendar.hasDatepicker {
      background-color: #fafafa;
      margin: 10px 0 auto auto; }
  form.webform-client-form .form-item.form-type-date div.selector, form.webform-client-form .form-item.form-type-webform-time div.selector {
    display: block;
    float: none;
    width: 100% !important;
    border: 1px solid #dddddd; }
    form.webform-client-form .form-item.form-type-date div.selector > span, form.webform-client-form .form-item.form-type-webform-time div.selector > span {
      max-width: 100%;
      min-width: 100%; }
form.webform-client-form fieldset.webform-component-fieldset.form-wrapper {
  width: 100%; }
  form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body {
    padding: 0;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item {
      width: 100%;
      margin-bottom: 10px !important; }
      form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item > .control-label {
        width: 100%;
        padding-bottom: 6px;
        float: none !important; }
      form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control {
        margin: 0 0 10px;
        float: none !important;
        width: 100%; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control::-moz-placeholder {
          color: #777777;
          opacity: 1; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control::-webkit-input-placeholder {
          opacity: 1;
          color: #777777; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control:-ms-input-placeholder {
          opacity: 1;
          color: #777777; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control::-ms-input-placeholder {
          opacity: 1;
          color: #777777; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control:focus::-moz-placeholder {
          opacity: 1; }
          form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control:focus::-moz-placeholder::-webkit-input-placeholder {
            opacity: 1; }
          form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control:focus::-moz-placeholder:-ms-input-placeholder {
            opacity: 1; }
        form.webform-client-form fieldset.webform-component-fieldset.form-wrapper .panel-body > .form-item .form-control:focus::-ms-input-placeholder {
          opacity: 1; }
form.webform-client-form fieldset.event-address-item .panel-body {
  margin-left: -10px;
  margin-right: -10px; }
  form.webform-client-form fieldset.event-address-item .panel-body > .form-item {
    padding-left: 10px;
    padding-right: 10px; }
    form.webform-client-form fieldset.event-address-item .panel-body > .form-item:nth-child(1) {
      width: 45%; }
    form.webform-client-form fieldset.event-address-item .panel-body > .form-item:nth-child(2) {
      width: 20%; }
    form.webform-client-form fieldset.event-address-item .panel-body > .form-item:nth-child(3) {
      width: 20%; }
    form.webform-client-form fieldset.event-address-item .panel-body > .form-item:nth-child(4) {
      width: 15%; }
form.webform-client-form fieldset.primary-contact-item .panel-body {
  margin-left: -10px;
  margin-right: -10px; }
  form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item {
    padding-left: 10px;
    padding-right: 10px; }
    form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item:nth-child(1) {
      width: 50%; }
    form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item:nth-child(2) {
      width: 50%; }
    form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item:nth-child(3) {
      width: 33.3333%; }
    form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item:nth-child(4) {
      width: 33.3333%; }
    form.webform-client-form fieldset.primary-contact-item .panel-body > .form-item:nth-child(5) {
      width: 33.3333%; }
form.webform-client-form .form-checkboxes {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  form.webform-client-form .form-checkboxes .form-item.checkbox {
    margin-top: 0;
    width: 33.33333%; }
    form.webform-client-form .form-checkboxes .form-item.checkbox .control-label {
      width: 100%; }
form.webform-client-form .form-item.form-type-textarea {
  margin-bottom: 25px !important; }
  form.webform-client-form .form-item.form-type-textarea .control-label {
    width: 100%;
    float: none !important;
    margin-bottom: 8px; }
  form.webform-client-form .form-item.form-type-textarea .form-control.form-textarea {
    float: none !important; }
form.webform-client-form .form-actions .btn.form-submit {
  float: none;
  margin-bottom: 10px; }




.front .appointment-sec li {
	font-size: inherit;
	display: list-item;
}

@media screen and (min-width: 992px) {
	
.medicom-header .navbar.navbar-default {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.medicom-header .navbar.navbar-default::before,
.medicom-header .navbar.navbar-default::after {
  display: none;
}
}
