/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2014, 11:27:06 AM
    Author     : Snappytheme
*/
#isotope-options{
    background-color: inherit;
}
.isotope-element{
    height: auto;
    background:#ffffff;
    color: inherit;
}
.isotope-element img{
    width: auto;
}
.isotope-element a, .isotope-element a code{
    color: inherit !important;
}
/*.admin-menu .region-header{
    margin-top: 0;
}*/
.btn-default a {
    color: #fff;
    font-weight: normal;
    font-family: 'SourceSansProRegular';
}
.article-lf, .sidebar-widget-lf{
    float: left;
    width: 100%;
}
.view-blog .owl-controls, .node-blog .owl-controls, .page-shop .owl-controls{
  bottom: 30px;
  background: transparent;
}
.page-shop .shop-banner .view-content,
.page-shop .shop-banner .view-content .owl-carousel{
  height: 100%;
}
.view-blog .owl-carousel .owl-item,.node-blog .owl-carousel .owl-item{
  padding: 0px;
}
.col-lf{
  float: left;
}
.col-lf .form-search button.btn-default{
  position: absolute;
  right: 12px;
  top: 9px;
  padding: 0;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: #818181;
  min-width: 0;
  border: 0;
  font-size: 15px;
  box-shadow: 0 0 0 #818181 !important;
  -moz-box-shadow: 0 0 0 #818181 !important;
  -webkit-box-shadow: 0 0 0 #818181 !important;
}
.col-lf .form-search .input-group{
  width: 100%;
}
.col-lf .form-search button.btn-default .fa-search:hover{
  opacity: 0.5;
}
.col-lf .search .sidebar-widget{
  padding-bottom: 0;
}
.node-blog .field-name-body{
  padding: 20px 0 30px 0;
}
.indented{
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #ececec;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 3px 0 #ececec;
  -webkit-box-shadow: 0 3px 0 #ececec;
  -moz-box-shadow: 0 3px 0 #ececec;
}
.comment-reply a{
  background-color: #4b4b4b;
  box-shadow: 0 3px 0 #161616;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'SourceSansProBold';
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 9px 15px 3px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 15px;
  margin-right: 10px;
}
.page-blog-2-column .main-container, 
.page-blogs .main-container,
.page-blog-single-post .main-container,
.page-post-by-date .main-container,
.node-type-blog .main-container,
.node-type-product .main-container,
.page-shop .main-container{
    padding: 50px 15px;
}
#search-block-form i.fa,
.node-type-department i.fa{
    padding-left: 0px;
}
.node-type-department .field-name-field-individual-image{
    margin: 0 0 40px 38px;
    float: right !important;
}
.node-type-department .submitted{
    display: none;
}

.page-contact #contact-site-form label{
    display: none;
}
.page-contact #contact-site-form .form-item,
.page-contact #contact-site-form .btn-default{
    float: left;
    margin-bottom: 10px;
}
.page-contact #contact-site-form .form-item-name,
.page-contact #contact-site-form .form-item-mail,
.page-contact #contact-site-form .form-item-subject{
    width: 48%;
    margin-bottom: 0px;
}
.page-contact #contact-site-form .form-item input{
    width: 96%;
}
.page-contact #contact-site-form .form-item-message{
    width: 98%;
}
.page-contact .medicom-map{
    padding-top: 50px;
}
@media (max-width: 767px) {
    .node-type-department .field-name-field-individual-image{
        margin: 0 0 40px !important;
        float: none !important;
    }
    .node-type-department .field-name-field-individual-image img{
        width: 100%;
    }
    .page-contact #contact-site-form .form-item-name,
    .page-contact #contact-site-form .form-item-mail,
    .page-contact #contact-site-form .form-item-subject{
        width: 100%;
        margin-bottom: 0px;
    }
    .page-contact #contact-site-form .form-item input{
    width: 98%;
}
}
.add-to-cart .form-item-qty label{
  display: none;
}
.add-to-cart .form-item-qty input{
  width: 42px;
  height: 44px;
}
.margin30{
  margin-bottom: 30px;
}
.tab-horizontal1 .element-invisible {
  position: inherit !important; 
  height: auto;
}
#active-horizontal-tab {
  display: none;
}
form.fivestar-widget{
  clear: inherit;
}
.page-shop .product button,
.node-type-product .product button{
  margin: 20px 0;
  width: 100%;
}
#block-views-shop-block-1{
  float: left;
  width: 100%;
}
.node-type-product .add-to-cart{
  padding-top: 30px;
}
.node-type-product .add-to-cart #edit-qty{
  text-align: center;
}
.item-counter .form-group{
  margin-bottom: 0px;
}
.poll .form-type-radio {
  width: 100%;
}
.poll .form-type-radio .form-radio{
  width: 15px;
  opacity: 1;
  height: 20px;
  margin-right: 30px !important;
}
.poll .form-type-radio label{
  color: #646464;
}
#block-poll-recent ul.links{
  float: left;
}
.page-cart-checkout #edit-panes-payment-payment-method div.radio{
  width: auto;
}
.page-cart-checkout .panel .panel-heading{
  border-color: transparent;
}
.page-cart-checkout #edit-continue,
.page-cart-checkout .next-button button,
.page-cart #uc-cart-view-form button {
  float: right;
}
.page-cart-checkout .next-button button{
  display: none;
}
.page-cart #uc-cart-view-form button[name='op']{
  margin-right: 20px;
}
.page-cart-checkout #billing-pane div.form-type-select select {
  box-shadow: 0 1px 0 #F4F4F4;
  -moz-box-shadow: 0 1px 0 #F4F4F4;
  -webkit-box-shadow: 0 1px 0 #F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  height: 40px;
  margin: 0 0 7px 0;
  text-align: left;
  line-height: 26px;
  background: url(../images/select-bg.png) no-repeat 95%;
  background-color: #fafafa;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 48% !important;
  -webkit-appearance: none;
}
.page-cart-checkout #billing-pane div.form-type-select select:-ms-expand{
  display: none;
}
.page-contact .fa:before{
  padding-left: 5px;
}
.page-node-59 .big-font{
  padding-top: 40px;
}
.no-padding-left{
  padding-left: 0px;
}
.sharethis-buttons{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 14px 22px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.sharethis-buttons .sharethis-wrapper{
  float: right;
}
.sharethis-buttons .sharethis-wrapper span{
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid #e7e7e7;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #929292;
  line-height: 33px;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: left;
  margin: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.st_googleplus_custom:before{
    content: "\f0d5";
}
.st_facebook_custom:before{
    content: "\f09a";
}
.st_twitter_custom:before{
    content: "\f099";
}
.st_linkedin_custom:before{
    content: "\f0e1";
}
.st_email_custom:before{
    content: "\f0e0";
}
.st_pinterest_custom:before{
    content: "\f0d2";
}

.alert-section {
  background-color: #fffa61;
  color: #262626;
  padding: 20px;
  font-size: 16px;
}

.alert-section p {
  margin: 0;
}

.alert-section a {
  border-bottom: 1px dotted;
  color: inherit;
}

.region.region-header {
  position: relative;
}
.md-object.md-layer-1-8-0.back-light {
  position: absolute;
  display: block !important;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
}
.banner-caption-outter {
  position: absolute;
  font-size: 14px;
  color: #fff;
  background: rgba(0,0,0,.5);
  max-width: 768px;
  line-height: 1.4;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 30px 15px;
  text-align: left;
}
@media screen and (max-width: 500px) {
  .banner-caption-outter {
    display: none !important;
  }
} 
.banner-caption-outter p {
  margin-bottom: 0;
}
.banner-caption-outter h2 {
  font-size: 22px;
}
.banner-caption-outter h2 a {
  color: #ffffff;
  border-bottom: 1px dotted;
  display: inline-block;
  line-height: 1.1;
  width: auto;
}
.banner-caption-outter h2 a:hover {
  border-bottom: 1px solid;
}
#block-block-73 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,.7);
    padding: 30px 20px 25px;
    width: calc(100% - 30px);
    max-width: 1008px;
}

#block-block-73 p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}
#block-block-73 p a {
    font-size: 24px;
    color: #ffffff;
    line-height: 1;
    border-bottom: 1px dotted;
}
#block-block-73 p a:hover {
  border-bottom: 1px solid;
}
@media screen and (min-width: 992px) {
div#responsive_menu.mean-container {
display: none!important;
}
}

.contact-page-form .pane-title.page-header.bordered.light {
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
}

#contact-site-form .captcha {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 15px;
}
